#TV IP address
export TV_IP_ADDR='10.42.0.119'
#LAN interface name
export LANIF='enp2s0'
#WLAN interface name
export WLANIF='wlx9cefd5fd2fca'
#MAC Address of eth, used for tcpdump filter
export ETH_MAC_ADDRESS="78:45:c4:eb:8b:29"
#Data directory for logs
export DATA_DIR="/tmp/roku-data"
#MITMPROXY TCP port number
export MITMPROXY_PORT_NO='8080'
#Global log file
export LOG_OUT_FILE="./output.txt"
#Global key log file
export MITMPROXY_SSLKEYLOGFILE="${DATA_DIR}/SSLKEYLOGFILE.txt"
